*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgba(0,38,72,.8); */
}
.header-box{
    padding: 5px;
    background-image: url(ANH/sile3.jpg );
    background-repeat: no-repeat;
    height: 300px;
}
#logo{
    float: left;
    margin-bottom: 10px;
}
#banner{
    margin-top: 10px;
    width: 100%;
}
img{
    width: 200px;
}
.menu{
    float: right;

}
#menuBig{

}
.menu li{
    display: block;
    padding: 10px;
    
}
.menu li a{
    font-weight: 600;
    color: rgba(0,38,72,.8);
    text-decoration: none;
    margin: 10px;
    
}
#menuSmall{
    float: right;
    margin: 10px;
}
.form{
    justify-content: center;
    padding: 0px;
    margin: 0 auto;
    max-width: 960px;
}
.form-group{
    margin: 10px;
    
}
.form-control{
    color: rgba(0,38,72,.8);
    font-weight: 700;
    padding: 10px 0px;
    outline: none; 
    border: 1px solid gray;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
.form-control a{
    text-decoration: none;
    color: rgba(0, 7, 13, 0.8);
}

.container{
    display: flex;
 }
 .list{
    background: #ffeddf;
    margin: 10px;
   width: 100%;
    box-shadow: 2px 2px 8px 0  rgba(0, 0, 0, 0.4);
    position: relative;
 }
 .list img{
   width: 100%;
 }
 .list div{
    margin-bottom: 10px;
 }
 .img-new{
    position: absolute;
    right: 0;
 }
 .noidung{
    padding: 5px 10px;
 }
 #tieude{
    padding: 10px 0; 
 }
 #tieude a{
    text-decoration: none;
    color: #05558a;
    font-weight: 900;
    font-size: 20px;
 }
 #gia{
    color: orangered;
 }
 .btn-muahang{
    border: 1px solid gray;
   padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    box-shadow: 2px 2px 8px 0  rgba(0, 0, 0, 0.4);
    background-color: orangered;
 }
 .btn-muahang a{
    text-decoration: none;
    color: white;
    font-weight: 600;
 }
 .btn-muahang:hover{
    background-color: white;
 }
 .btn-muahang a:hover{
    color: red;
 }
 .diemhot{
    margin: 20px auto;
    width: 280px;
    text-align: center;
    color: #0968c5;
    border-bottom: 1px solid #0968c5 ;
 }
 .list1 {
    box-shadow: 2px 2px 8px 0  rgba(0, 0, 0, 0.4);
    width: 100%;
    padding: 10px 5px;
    margin: 10px;
 }
 .list1 img{
    width: 100%;
 }
 .list1 div{
    margin-bottom: 10px;
 }
 .form-uudai{
    justify-content: center;
    padding: 0px;
    margin: 0 auto;
    max-width: 1040px;
    position: relative;
    display: flex;
    background: #036;
 }
.form-uudai1{
    position: relative;
    padding: 20px;
    color: white;
    margin-left: 10px;
}
.img-uudai{
    position: absolute;
    bottom: 0;
    left: 10px;
    width: 150px;
}
.container-footer{
    display: flex;
    flex-direction: row;
    max-width: 1240px;
    margin: 0 auto;
    color: white;
    padding: 20px 0;
}
.foot-1cot div{
    margin-bottom: 10px;
}
.foot-3cot{
    width: 70%;
    display: flex;
    margin-left: 10px;
}
.foot-3-1cot{
    width: 30%;
    padding-left: 20px;
}
.padding-dv{
    padding: 30px 0;
}
.footer-chu a{
    text-decoration: none;
    color: white;
}
@media all and (min-width:160px){
    .menu{
        display: none;
    }
    #logo{
        max-width: 200px;
    }
    .menu li{
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid black;
        background-color: aliceblue;
    }
    .menu li a{
        color: rgba(0,38,72,.8);
    }
    .header-box{
        background-image: url(ANH/ha-long-bay-mobile.jpg);
    }
    .form-control{
        width: 100%;
    }
    .list{
        flex-basis: 100%;
    }
    .container{
        flex-wrap: wrap;
     }
     .form-uudai{
        flex-wrap: wrap;
     }
     .container-footer{
        flex-wrap: wrap;
     }
     .img-uudai{
        display: none;
     }
     .foot-3cot{
        flex-wrap: wrap;
     }
     .foot-3-1cot{
        width: 100%;
     }
}
/* tablet */
@media all and (min-width:760px){
    #menuSmall{
        display: none;
    }
    .menu{
        display: inline;
        margin-top: 20px;
    }
    .menu li{
        width: 100%;
        display: inline;
        background: none;
        border: none;
    }
    .header-box{
        background-image: url(ANH/ha-long-bay-copy.jpg);
    }
    .form{
        display: flex;
        flex-direction: row;
    }
    .form-group{
        width: 100%;
    }
    .list{
        flex-basis: 47.36%;
    }
    .form-uudai{
        flex-wrap: nowrap;
    }
    .container-footer{
        flex-wrap: nowrap;
    }
    .foot-3cot{
        flex-wrap: nowrap;
    }
}
/* destop */
@media screen and (min-width:980px) {
   .container{
    flex-wrap: nowrap;
   }
   .list1{
    flex-wrap: nowrap;
   }
   .img-uudai{
    display: block;
 }
}
